/*Background for First Page*/
header.masthead {
    text-align: center;
    color: white;
    background-image: url('../images/carousel/main-bar.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 200px;
}

@media(min-width:992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }

        #mainNav .navbar-brand {
            font-size: 1.75em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        #mainNav .navbar-nav .nav-item .nav-link {
            padding: 1.1em 1em !important;
        }

        #mainNav.navbar-shrink {
            padding-top: 0;
            padding-bottom: 0;
            background-color: black;
        }

            #mainNav.navbar-shrink .navbar-brand {
                font-size: 1.25em;
                padding: 12px 0;
            }
}

.heightAdder {
    height: 1000px;
}
