@model int
<div class="row">
    <div class="col-6">
        <a class="btn btn-info form-control" asp-action="Edit" asp-route-id="@Model">Edit</a>
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
    </div>
</div>